.transaction{
    .transaction-items{
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        margin : 10px;
        span{
            margin : 20px;
        }
        .transaction-manage{
            background-color: $color3;
            border: none;
            border-radius: 10%;
            color : white;
            padding: 10px;
            cursor: pointer;
        }
    }
}  